*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("wallbread.jpg");
	height: 100%;
	background-repeat: no-repeat;


}
header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	height: 30vh;

}
.logo {
		position: absolute;
		height: 200px;
		width: 200px;
		top: 0%;
		left: 0%;
}
.companyname{
		margin-top: -5.9px;
		margin-left: 190px;
		font-family: garmond;
		font-size:100px;
		font-style: bold;
		color:white;
		padding: 30px;
}
.site:hover{
		color:black;
		background-color: white;
		transition: 1s ease;
		font-weight: bold;
	}
	.site{
		border: 2px solid;
		border-color: transparent;
		padding: 5px;
		margin: 3px;
		border-radius: 40%;
		font-size: 10;
		font-family: verdana;		
		text-decoration: none; 
		color: white;
		float: right;
		cursor: pointer;
}
#active {
	color:black;
	background-color: white;
	font-weight: bold;
}
.pages{
		float: right;		
	}
.lists li{
		font-size: 20px;
		display: inline-block;
		margin-left: 25px;

	}
fieldset{
	position: absolute;
	left: 37%;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.8);
}
.aboutcontent {
		color: white;
		position:solid;
		margin:auto;
		width:350px;
		border-style: solid;
		border-style: double;
		font-size: 25px;
		font-family: header;
		border-color: white;
		background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.profile {
	width: 200px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 16px 0 rgba("0,0,0,0.7");
}
.tdprof {
	border-radius: 50%;
	border-color: white;
}
.profileinfo {
	text-align: justify;
	font-size: 17px;
}